{{debug}}
<div class="row">
    <div class="col-md-7 offset-md-7"></div>        
    <div class="col-md-2 col-sm-12 mw-orderDetails__qty">
        <h3>Total Quantity</h3>
        <span>
            <input class="mw-input" id="mw-productDetailsAto__qty" min="1" value="6" placeholder="1" type="number">
        </span>
    </div>
    <div class="col-md-2 col-sm-12 mw-orderDetails__unitPrices">
        <h3>Subtotal:</h3>
        <span>{{subtotal}}</span>
    </div>
    <div class="col-md-1 offset-md-1 col-sm-12"></div>
</div>